/* i{
    font-size: 50px;
    color: green;
    margin-left: 50px;

}

a{
    font-size: 30px;
    text-decoration: none;
    color: black;
    
} */

a:link{
    color: red;
    text-decoration: none;
    
}

a:hover{
    color: orange;
}

a:active{
    color: blue;
    background-color: antiquewhite;
   
}

a:visited{
    color: yellow;
    
}